body
{
  background-color: #ff80ff;
  color: #ff80ff;
  background: #ff80ff;
}
.con
{
  align-items: center;
  align-self: center;
  align-content: center;
float: right;
}
.cd
{
width: 900px;
}
.cn
{
float: none;
width: 700px;
height: 600px;
align-items: center;
align-self: center;
align-content: center;
}
.b1
{
  align-items: center;
}
